.container {
    width: 30%;
    top: 20%;
    margin-left: 32%;
    margin-top: 5%;
    padding: 1.5rem;
    border: .1rem solid rgba(0, 0, 0, 0.2);
    border-radius: .4rem;
    background: #ffffff;
}

.form__title {
    margin-bottom: 0.8rem;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: .4rem;
    border: 1px solid #dddddd;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
    margin-bottom: 1rem;
    text-align: center;
}

.form__input:focus {
    border-color: #50a27a;
    background: #ffffff;
}

.form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: .4rem;
    outline: none;
    cursor: pointer;
    background:  #50a27a;
}

.form__button:hover {
    background: #3e7b5e;
}

.form__button:active {
    transform: scale(0.98);
}

.form__link {
    cursor: pointer;
    text-align: center;
    margin: .5rem 0rem 0rem 0rem;
}

.form__link:hover {
    text-decoration: underline;
}

@media(max-width: 1000px){
    .container{
        width: 50%;
        margin-left: 20%;
    }
  } 

  @media(max-width: 500px){
    .container{
        width: 70%;
        margin-left: 7%;
    }
  } 

  @media(max-width: 376px){
    .container{
        margin-left: 6%;
    }
  } 
