.formInputAuth {
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: 0.4rem;
  border: 1px solid #dddddd;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
  margin-bottom: 1rem;
  text-align: center;
}

.formInputAuth:focus {
  border-color: #50a27a;
  background: #ffffff;
}
